.Sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: calc(100% - 125px);

  &__logo {
    height: 200px;
    padding-top: 20px;
  }
  &__title {
    cursor: default;
    user-select: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 8px;
    padding-left: 20px;
    padding-bottom: 17px;
  }
  &__newplaylist {
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
    text-transform: uppercase;;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;

    &__title {
      user-select: none;
      display: inline-block;
    }
    &__img {
      transform:translate(-7px, 6px);
      height: 30px;
      display: inline-block;
      cursor: pointer;
    }
    &__modal {
      &__title {
        cursor: default;
        user-select: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 8px;
        padding-left: 20px;
        padding-bottom: 17px;
      }
      &__content {
        margin: 0px auto;
        max-width: 250px;
        text-align: center;

        &__input {
          border: 5px solid black;
          border-radius: 4px;
          margin-bottom: 40px;
          height: 35px;
          padding-left: 8px;
          padding-top: 5px;
          font-size: 1.4rem;
          font-family: 'triballakaregular';  
          letter-spacing: 3px;
          width: calc(100% - 16px);
          color: black;
          transition: all 0.4s ease;
          text-transform: uppercase;

          &:focus {
            outline: none;
            user-select: none;
          }
          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
  &__li {
    list-style-type: none;
    user-select: none;
    text-transform: uppercase;;
    margin-bottom: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: normal;
    padding-left: 40px;
    text-align: left;
    font-size: 1.2rem;
    marker: none;

    &--active {
      text-decoration: line-through;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}