.Playbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 200px);
  margin-left: 200px;
  height: 125px;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  &__progressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;

    &__input {
      background: transparent;
    }
  }

  &__controls {
    &__backward {
      width: 35px;
      border-radius: 100%;
      margin: 0 0 15px 0;
      cursor: pointer;

    }
    &__play {
      width: 60px;
      border-radius: 100%;
      cursor: pointer;

    }
    &__forward {
      width: 35px;
      border-radius: 100%;
      margin: 0 0 15px 0;
      cursor: pointer;

    }
  }

  &__volume { 
    display: flex;
    align-content: center;
    overflow: hidden;
    width: 200px;
    transition: all 500ms ease;

    &:hover {
    }

    &__bar {

      &__img {
        width: 35px;
        height: 38px;
      }

      &__input {
        padding: 0;
        margin: 0;
        width: 50px;
        background: transparent;

        &::-moz-range-thumb {
          height: 10px;
          width: 3px;
          background: violet;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
  }
}