.Playbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 125px;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  &__progressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;

    &__input {
      background: transparent;
    }
  }

  &__controls {
    cursor: pointer;

    &__play {
      background: violet;
      padding: 15px 18px;
      border-radius: 100%;
    }
    &__backward {
      background: violet;
      border-radius: 10px 0 0 10px;
      padding-left: 15px;
      padding-right: 10px;
      margin-right: -5px;
    }
    &__forward {
      background: violet;
      border-radius: 0 10px 10px 0;
      padding-left: 10px;
      padding-right: 15px;
      margin-left: -5px;
    }
  }

  &__volume { 
    display: flex;
    align-content: center;
    overflow: hidden;
    width: 25px;
    transition: all 500ms ease;

    &:hover {
      width: 90px;
    }

    &__bar {
      padding: 10px;

      &__input {
        padding: 0;
        margin: 0;
        width: 50px;
        background: transparent;

        &::-moz-range-thumb {
          height: 10px;
          width: 3px;
          background: violet;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
  }
}